<ion-view view-title="Login">
  <ion-header-bar class="bar bar-header">
      <h1 class="title">Login</h1>
  </ion-header-bar>
    <ion-content class="padding">
        <div class="list card padding">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text" ng-model="user.email">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="user.password">
            </label>
            <button ng-click="signIn(user)" class="button button-block button-positive activated">
                Sign In
            </button>
        </div>
        <div class="list" style="text-align:center">
            <button ng-click="showSignup()" class="button button-small button-outline icon-left ion-person-add button-positive">
                Create New Account
            </button>
        </div>
        <button style="margin-top: 24px; background-color: #3b5998; color: white;"
          ng-click="facebookSignIn()"
          class="button button-block">
            Connect with Facebook
        </button>
    </ion-content>
</ion-view>
