<ion-view view-title="ORide" ng-controller="DashCtrl as controller">
  <ion-nav-buttons side="right">
      <button class="button" ng-click="addorder()">
        AddMe
      </button>
    </ion-nav-buttons>

  <ion-content class="padding">
    <h4>Where do you want to go?</h4>
    <p>
    <input type="text" name="" ng-model="controller.address" placeholder="input destination address" style="margin-left: auto;margin-right: auto;border: 1px solid black;width: 90%;">
    </p>

    <button style="width:100%" ng-click="showmap()">Find ride</button>
  
  </ion-content>
</ion-view>
